*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: Arial,sans-serif;
  font-size: 12px;
}
header{
  width: 900px;
  margin: auto;
  padding: 10px 0;

}
.top-header{
    height: 60px;
}
.logo{
  display: inline-block;
  padding: 10px;
}

nav{
  display: inline-block;
  float: right;
}
nav ul li {
  display: inline-block;
  line-height: 65px;
}
nav ul li a{
    padding: 0 15px;
    font-weight: bold;
    color: #000;
}
nav ul li a:active{
  color: #a8b983;
}

.last-li::after{
  content: ""
}
.navli::after {
    content: "|";
    color: red;
}
main{
  width: 900px;
  margin: auto;
}
.contener{
  width: 65%;
  display: inline-block;
  float: left;
  padding-right: 10%
}
h2{
  color: #007b3b;
  padding: 10px 0;
}
h4{
  color: #0a356d;
  padding: 5px 0;
}
p{
  color: #9b9875;
  font-size: 12px;
}
h5{
  color: #c75300;
}
.cleaf-fix{
  clear: both;
}
.readmore{
  margin-top: 20px;
  display: inline-block;
  padding: 5px;
  color: #fff;
  background-color: #801610;
  border-radius: 4px
}
aside{
  width: 35%;
  display: inline-block;

}
.art-glallry{
  display: inline-block;
  width: 65%;
  padding-right: 5%;
  border-right: 1px dotted #999 ;

}
.drowing{
  display: inline-block;
  width: 35%;
  padding-left:5%;
  float: right;
}
.art-tips img {
    padding: 10px;
}
.art-tips{
  margin: 20px 0;
}
.events-update{
  padding: 10px;
  background-color: #f9eddd;
  border: #fcd598 5px solid;
}
.best{
  margin: 20px 0;
  background-color: #c9c9c9;
  padding: 10px;
  text-align: center;
}
.best img{
  width: 100%
}
.best a{
  text-decoration: underline;
  color: #02602f;
  font-weight: 600;
  padding: 5px;

}
footer{
  color:#fff;
  background-color: #b14a01;
  padding: 10px;
  text-align: center;
  font-size: 9px;
  font-weight: 100;
}
.fotter-nav ul li{
  display: inline-block;
  margin: 10px 0;
}
.fotter-nav ul li a{
  padding: 0 10px;
  color: #fff;
}
.fotter-nav .navli::after {
    content: "|";
    color: #fff;
}
.about-text h1 {
    color: #000;
    font-size: 35px;
}
